$dark-grey: #404040;
$light-grey: #cdcdcd;
$main-grey: #666666;
$white: #fff;
$black: #000;
$blue: #0d78f2;

.bookBuilder {
  @import 'animate';

  // counter-reset: chapter;
  font-family: 'Vollkorn'!important;


  .productionEditorContainer {
    padding-bottom: 30px;
    padding-top: 10px;

    span {
      color: $dark-grey;
      float: left;
      font-size: 26px;
      font-style: italic;
    }

    .teamManagerBtn {
      background-color: $dark-grey;
      border: 1px solid $white;
      color: $white;
      cursor: pointer;
      float: right;
      font-size: 16px;
      font-style: italic;
      font-weight: 500;
      margin-top: 12px;
      padding: 0 30px;
      text-align: center;
      transition: border .5s ease-out .2s;

      &:hover {
        border: 1px solid $dark-grey;
        transition: .25s ease-in-out 0s;
      }

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

  }

  .menuItemContainer {
    float: left !important;
    width: 150px;
  }

  .menuItem {
    padding-bottom: 2px;
    a {
      color: $light-grey !important;
      padding-left: 20px;
      text-decoration: none ;

      &:hover {
        color: $dark-grey !important;
      }
    }
  }

  .dropDown {
    background-color: $white !important;
    border: 0;
    border-color: transparent;
    font-size: 28px;
    font-weight: 500;
    padding: 0;
    text-align: left;
    top: 13px;
    z-index: 999;
    -webkit-box-shadow: none !important;
    white-space: pre-wrap;

    &:hover, &:active, &:focus {
      background: $white !important;
    }

    span:first-child {
      // margin: 0 0 5px 30px;
      margin: 0 10px 0 5px;
    }
  }

  .dropDownInputContairer {
    padding: 10px;

    .dropDownInput {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      outline: none;
      width: 100%;

    }
  }

  .sectionDivider {
    clear: both;
    padding-top: 2%;
  }

  .separator {
    clear: both;
    height: 1px;
  }

  .noPadding {
    padding: 0 !important;
  }

  .sectionHeader {
    padding-top: 1%;

    .sectionTitle {
      // background-color: $main-grey;
      float: left;
      padding: 10px 50px 10px 10px;

      h1 {
        color: $blue;
        font-family: 'Vollkorn'!important;
        font-size: 30px;
        font-style: normal;
        font-weight: normal;
        line-height: 36px;
        letter-spacing: 5px;
        margin: 0 !important;
        text-transform: uppercase;
      }
    }

    .sectionBtn {
      color: $black;
      cursor: pointer;
      float: left;
      padding-right: 20px;
      font-size: 16px;
      font-style: italic;
      font-weight: 500;
      margin-top: 20px;

      &:hover {
        // border: 1px solid $dark-grey;
        // transition: .25s ease-in-out 0s;
      }
      a {
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
          cursor:pointer;
        }
      }
    }
  }
  .sectionChapters {

    .chapterContainer {
      display: table;
      font-style: italic;
      height: 100%;
      margin-top: 2%;
      padding: 0;
    }

    .grabContainer {
      height: 100%;
      padding: 0;
    }

    .grabIcon {
      background-color: $light-grey;
      border-bottom: 0;
      border-top-left-radius: 110px;
      border-top-right-radius: 110px;
      cursor: move;
      height: 20px;
      position: absolute;
      float: right;
      bottom: 39px;
      right: 0;
      transform: rotate(270deg);
      width: 42px;
    }

    .hasContent {
      background-color: $blue;
    }

    .hasContent::before {
      border: 2px solid $blue;
      border-bottom: 0;
      border-top-left-radius: 110px;
      border-top-right-radius: 110px;
      content: '';
      display: block;
      height: 25px;
      left: -6px;
      margin: 0 auto;
      position: relative;
      top: -28%;
      width: 54px;
    }

    .tooltip {
      left: 0;
      display: none;
    }
    .grabIcon:hover .tooltip {
      background: transparent;
      top: -105px;
      color: $dark-grey;
      font-size:16px;
      display: block;
      left: -50px;
      // margin-bottom: -3px;
      opacity: 0;
      padding: 20px;
      pointer-events: none;
      position: absolute;
      width: 140px;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
    }

    .grabIcon:active .tooltip {
      display:none;
    }

    .grabIcon .tooltip:before {
      bottom: -20px;
      content: " ";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    .grabIcon:hover .tooltip {
      opacity: 1;
      pointer-events: auto;
      // -webkit-transform: translateY(0px);
      // -moz-transform: translateY(0px);
      // -ms-transform: translateY(0px);
      // -o-transform: translateY(0px);
      // transform: translateY(0px);
      // -webkit-animation: fadein .3s; /* Safari, Chrome and Opera > 12.1 */
      // -moz-animation: fadein .3s; /* Firefox < 16 */
      // -ms-animation: fadein .3s; /* Internet Explorer */
      // -o-animation: fadein .3s; /* Opera < 12.1 */
      // animation: fadein .3s;
      transform: rotate(90deg);
    }

    .chapterMainContent {
      margin: 0;
      padding: 0;
    }

    .isChapter {
      padding-left: 3%!important;

      // h3::before {
      //   counter-increment: chapter;
      //   content: "" counter(chapter) ". ";
      // }
    }

    .FirstRow {
      display: flex;
    }

    .chapterTitle {
      border-bottom: 1px dashed $black;
      width: 92%;
      .bodyTitle {
        width: 94%;
      }
      h3 {
        background-color: $white;
        color: #333 !important;
        cursor: pointer;
        display: inline;
        font-size: 28px;
        font-style: italic;
        line-height: 36px;
        margin: 0;
        padding-bottom: 0;
        padding-right: 10px;
        position: relative;
        top: 11px;
      }
      input {
        border: 0;
        outline: 0;
        width: 90%;

      }
    }

    .chapterActions {
      background-color: $white;
      bottom: 54px;
      padding-left: 5px;
      position: absolute;
      right: 0;
      .actionContainer {
        border-right: 1px solid $black;
        float: left;
        margin-right: 10px;
        padding-right: 10px;
      }
      a {
        color: $blue;
        font-family: 'Fira Sans Condensed';
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          border-bottom: 2px solid #0D78F2;
          // transition: .25s ease-in-out 0s;
        }
      }

      .lEditing {
        background: $dark-grey;
        color: white;
        padding:5px;
        font-style: italic;
        font-weight: 200;
        text-decoration: none!important;
        &:hover {
          color: white;
        }
      }
      .lockMessage {
        font-size:16px!important;
        &:hover {
          color: white!important;
        }
      }
      .lockIcon {
        position:relative;
        right:5px;
        margin-left:0.3em;
      }
    }

    .secondLineContainer {
      padding-top: 1.8%;

      .btnFile input[type=file] {
        display: none !important;
      }
      .uploadText {
        bottom: 12px;
        cursor: pointer;
        font-family: 'Fira Sans Condensed';
        font-size: 16px;
        font-style: normal;
        left: 10px;
        position: relative;
      }
      .uploadIcon  {
        -webkit-mask: url('./images/upload_word.svg') no-repeat 100% 100%;
        mask: url('./images/upload_word.svg') no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $light-grey;
        color: $black;
        cursor: pointer;
        font-weight: 500;
        text-align: center;
        width: 24px;
        height: 24px;
      }

      .secondActions {
      //  float: left;
      //   padding-left: 2%;
      //   position: relative;
      //   top: 4px;
        li {
          font-family: 'Fira Sans Condensed';
          font-size: 16px;
          font-style: italic;
          float: left;
          padding-right: 2%;
        }
        li:hover {
          cursor: pointer;
          color: $dark-grey;
          transition: .25s ease-in-out 0s;
        }
      }
      .pagePosition {
        position: relative;
        top: 4px;
        float:right;
        li {
          font-family: 'Fira Sans Condensed';
          font-size: 16px;
          font-style: normal;
          color: $blue;
          float:left;
        }
        .leftRightBox {
          border:1px solid #000;
          height:22px;
          width:22px;
          float:left;
          text-align: center;
        }
        .leftBox {
          border-right: 0;
        }
        .rightBox {
          border-left: 0;
        }

        .boxDiver {
          border-right: 1px solid $dark-grey;
          bottom: 5px;
          height: 31px;
          position: relative;
          right: 23px;
        }

        .boxActive {
          background-color: $dark-grey;
          cursor: pointer;
          height: 16px;
          margin: 2px 0 0 2px;
          width: 16px;
        }
        .boxInactiveHover {
          background-color: #fff;
          cursor: pointer;
          height: 16px;
          margin: 2px 0 0 2px;
          width: 16px;

          &:hover {
            background-color: $light-grey;
            transition: .25s ease-in-out 0s;
          }
        }
      }
    }
  }

  @media all and (max-width: 768px) {
    .pagePosition {
      float:left!important;
      padding-top:20px!important;
    }

    .grabIcon {
      width:10%!important;
    }
    .chapterMainContent{
      // width:90%!important;
    }

    .secondLineContainer {
      padding-top:0!important;
    }
    .sectionHeader {
      .sectionTitle {
        background-color: $main-grey;
        padding: 10px 30px 10px 10px;
      }
    }
    .sectionChapters {
      padding-top:7%!important;
    }

  }
.noWritesError {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index:9999;
  border-radius:0px;
  text-align: center;
}
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
