$dark-grey: #404040;
$light-grey: #b3b3b3;
$main-grey: #666;
$white: #fff;
$black: #000;
$blue: #0d78f2;
$line-grey: #969696;

$upload-multiple: #b1b1b1;

.bookBuilder {
  @import 'animate';

  // counter-reset: chapter;
  font-family: 'Vollkorn'!important;

  .productionEditorContainer {
    padding-bottom: 10px;
    padding-top: 20px;

    .teamManagerIcon {
      -webkit-mask: url('./images/person.svg') no-repeat 100% 100%;
      mask: url('./images/person.svg') no-repeat 100% 100%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $main-grey;
      width: 24px;
      height: 24px;
      float: left;
      margin: 0 10px 0 20px;
      cursor: pointer;
    }

    span {
      color: $dark-grey;
      float: left;
      font-family: 'Fira Sans Condensed';
      font-size: 20px;
      font-style: normal;
    }

    .teamManagerBtn {
      cursor: pointer;
      float: left;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      text-align: center;
      transition: border .5s ease-out .2s;

      a {
        font-family: 'Fira Sans Condensed';
        color: $main-grey;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

  }

  .bookTitle {
    font-family: 'Vollkorn';
    font-size: 36px;
    font-style: italic;
    word-wrap: break-word;
  }

  .lineUploading {
    border-bottom: 2px solid $line-grey;
    // width: 80%;
   }

   .MultipleUploadContainer {
     bottom: 15px;
     left: 10px;
     position: relative;
    //  width: 20%;

     .uploadIcon {
       -webkit-mask: url('./images/upload_word.svg') no-repeat 100% 100%;
       mask: url('./images/upload_word.svg') no-repeat 100% 100%;
       -webkit-mask-size: cover;
       mask-size: cover;
       background-color: $light-grey;
       color: $black;
       cursor: pointer;
       font-weight: 500;
       text-align: center;
       width: 24px;
       height: 24px;
     }

     .uploadMultipleText {
       bottom: 10px;
       color: $upload-multiple;
       cursor: pointer;
       font-family: 'Fira Sans Condensed';
       font-size: 16px;
       font-style: normal;
       left: 10px;
       position: relative;
       text-transform: uppercase;
     }

     input[type=file] {
       display: none !important;
     }
   }


  .menuItemContainer {
    float: left !important;
    width: 150px;
  }

  .menuItem {
    padding-bottom: 2px;
    a {
      font-style: normal;
      color: $main-grey !important;
      padding-left: 20px;
      text-decoration: none ;

      &:hover {
        color: $dark-grey !important;
      }
    }
  }

  .dropDown {
    background-color: $white !important;
    border: 0;
    border-color: transparent;
    font-size: 28px;
    font-weight: 500;
    padding: 0;
    text-align: left;
    top: 12px;
    z-index: 999;
    -webkit-box-shadow: none !important;
    white-space: pre-wrap;

    &:hover, &:active, &:focus {
      background: $white !important;
    }

    span:first-child {
      margin: 0 10px 0 5px;
    }
  }

  .dropDownInputContairer {
    padding: 10px;

    .dropDownInput {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px dotted $main-grey!important;
      font-size: 20px!important;
      outline: none;
      width: 100%!important;
    }
  }

  .sectionDivider {
    clear: both;
    padding-top: 2%;
  }

  .separator {
    clear: both;
    height: 1px;
  }

  .noPadding {
    padding: 0 !important;
  }

  .sectionHeader {
    padding-top: 1%;

    .sectionTitle {
      float: left;
      padding: 10px 50px 10px 10px;

      h1 {
        color: $blue;
        font-family: 'Vollkorn' !important;
        font-size: 30px;
        font-style: normal;
        font-weight: normal;
        line-height: 36px;
        letter-spacing: 5px;
        margin: 0 !important;
        text-transform: uppercase;
      }
    }

    .sectionBtn {
      cursor: pointer;
      float: left;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      margin-top: 20px;
      padding-right: 20px;

      a {
        font-family: 'Fira Sans Condensed';
        color: $main-grey;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
          cursor:pointer;
        }
      }
      .addBtnIcon {
        -webkit-mask: url('./images/icon_add.svg') no-repeat 100% 100%;
        mask: url('./images/icon_add.svg') no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $main-grey;
        width: 24px;
        height: 24px;
        float: left;
        margin-right: 10px;
      }
    }
  }

  .sectionChapters {

    .chapterContainer {
      display: flex;
      width: 100%;
      font-style: italic;
      height: 100%;
      padding: 0;
    }

    .grabContainer {
      flex: 1;
      padding: 0
    }

    .grabIcon {
      background-color: $light-grey;
      border-bottom: 0;
      border-top-left-radius: 110px;
      border-top-right-radius: 110px;
      bottom: 42%;
      cursor: move;
      float: right;
      height: 20px;
      position: absolute;
      right: 0;
      transform: rotate(270deg);
      width: 42px;
    }

    .hasContent {
      background-color: $blue;
    }

    .hasContent::before {
      border: 2px solid $blue;
      border-bottom: 0;
      border-top-left-radius: 110px;
      border-top-right-radius: 110px;
      content: '';
      display: block;
      height: 25px;
      left: -6px;
      margin: 0 auto;
      position: relative;
      top: -28%;
      width: 54px;
    }

    .tooltip {
      display: none;
      left: 0;
    }

    .grabIcon:hover .tooltip {
      background: $dark-grey;
      color: $white;
      display: block;
      font-family: 'Fira Sans Condensed';
      font-size: 11.5px;
      font-style: italic;
      left: -10px;
      opacity: 0;
      padding: 0;
      text-align: center;
      pointer-events: none;
      position: absolute;
      top: -65px;
      width: 70px;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
    }


    .grabIcon:active .tooltip {
      display:none;
    }

    .grabIcon .tooltip:before {
      bottom: -20px;
      content: " ";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    .grabIcon:hover .tooltip {
      opacity: 1;
      pointer-events: auto;
      transform: rotate(90deg);

      &:after {
        position: absolute;
        right: -5px;
        top: 30%;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 6px;
        border-color: transparent transparent transparent $dark-grey;
      }
    }

    .chapterMainContent {
      margin: 0;
      padding: 0;
    }

    .isChapter {
      padding-left: 3%!important;

      // h3::before {
      //   counter-increment: chapter;
      //   content: "" counter(chapter) ". ";
      // }
    }

    .FirstRow {
      display: flex;
    }

    .chapterTitle {
      background-image: linear-gradient(to right, $main-grey 50%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: 6px 1px;
      position: relative;
      width: 92%;

      .bodyTitle {
        width: 92%;
      }

      h3 {
        background-color: $white;
        color: $dark-grey !important;
        cursor: pointer;
        display: inline;
        font-size: 28px;
        font-family: 'Vollkorn';
        font-style: italic;
        line-height: 36px;
        margin: 0;
        padding-bottom: 0;
        padding-right: 10px;
        position: relative;
        top: 13px;
        word-wrap: break-word;
      }
      input {
        font-size: 28px;
        border: 0;
        outline: 0;
        width: 90%;
      }

      .emptyTitle {
        bottom: 50px;
        float: left;
        height: 0;
        left: 0;
        position: absolute;
        top: -26px;
      }
    }

    .chapterActions {
      background-color: $white;
      bottom: 54px;
      padding-left: 5px;
      position: absolute;
      right: 0;

      .actionContainer {
        border-right: 1px solid $black;
        float: left;
        margin-right: 10px;
        padding-right: 10px;
      }

      a {
        color: $blue;
        font-family: 'Fira Sans Condensed';
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          border-bottom: 2px solid #0D78F2;
          // transition: .25s ease-in-out 0s;
        }
      }

      .lEditing {
        background: $main-grey;
        bottom: 3px;
        color: $white;
        font-style: italic;
        font-weight: 200;
        padding: 5px;
        position: relative;
        text-decoration: none;
        &:hover {
          border-bottom: 0;
        }
      }
      .lockMessage {
        font-size:16px!important;
      }
      .lockIcon {
        position:relative;
        right:5px;
        margin-left:0.3em;
      }
    }

    .secondLineContainer {
      display: flex;
      padding-top: 1.8%;

      .btnFile {
        position: relative;
        bottom: 3px;
      }

      .btnFile input[type=file] {
        display: none !important;
      }
      .uploadText {
        bottom: 10px;
        color: $main-grey;
        cursor: pointer;
        font-family: 'Fira Sans Condensed';
        font-size: 16px;
        font-style: normal;
        left: 4px;
        position: relative;
        text-transform: uppercase;
      }

      .uploadIcon  {
        -webkit-mask: url('./images/upload_word.svg') no-repeat 100% 100%;
        mask: url('./images/upload_word.svg') no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $light-grey;
        color: $black;
        cursor: pointer;
        font-weight: 500;
        text-align: center;
        width: 24px;
        height: 24px;
      }

      .proggressListContainer {
        margin-left: 3%;
        width: 40%;
        li {
          font-family: 'Fira Sans Condensed';
          font-size: 16px;
          font-style: italic;
          float: left;
          padding-right: 2%;
        }

        li:hover {
          color: $dark-grey;
          cursor: pointer;
          transition: .25s ease-in-out 0s;
        }
      }
    }
  }

  .noChapters {
    padding-left: 1%;
  }

  .noWritesError {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:9999;
    border-radius:0px;
    text-align: center;
  }
}



// TO DELETE AND MAKE NEW ONES FOR RESPONSIVE LAYOUT

  @media (min-width:215px) and (max-width:1200px) {
    .pagePosition {
      float:left!important;
      padding-top:20px!important;
    }

    .chapterActions {
      bottom: 118px!important;
    }
    .grabContainer {
      display: none !important;
    }

    .secondLineContainer {
      padding-top:10 !important;
    }
    .sectionHeader {
      .sectionTitle {
        padding: 10px 30px 10px 10px;
      }
    }

  }


  @media (min-width:1215px) and (max-width:1510px) {
    .chapterActions {
      bottom: 49.5px!important;
    }
  }


  @media (min-width:1511px) and (max-width:1560px) {
    .chapterActions {
      bottom: 50px!important;
    }
  }



  @media (min-width:1561px) and (max-width:1750px) {
    .chapterActions {
      bottom: 51px!important;
    }
  }

@media(min-width: 1100px) and (max-width: 1403px) {
  .lineUploading {
    width: 69% !important;
  }
  .MultipleUploadContainer {
    width: 31% !important;
  }
}

@media(min-width: 1404px) and (max-width: 1479px) {
  .lineUploading {
    width: 73% !important;
  }
  .MultipleUploadContainer {
    width: 27% !important;
  }
}

@media(min-width: 1480px) and (max-width: 1575px) {
  .lineUploading {
    width: 74% !important;
  }
  .MultipleUploadContainer {
    width: 26% !important;
  }
}

@media(min-width: 1576px) and (max-width: 1649px) {
  .lineUploading {
    width: 76% !important;
  }
  .MultipleUploadContainer {
    width: 24% !important;
  }
}

@media(min-width: 1650px) and (max-width: 1900px) {
  .lineUploading {
    width: 76% !important;
  }
  .MultipleUploadContainer {
    width: 24% !important;
  }
}

  @media(min-width: 1900px) {
    .lineUploading {
      width: 79.4%!important;
    }
    .MultipleUploadContainer {
      width: 20%!important;
    }
  }
