$brown: #a52a2a;
$button-background: #d3d3d3;
$button-text: #000;
$grey: #808080;
$white: #fff;

$btn-idle-color: #595959;
$hover-button-bg-color: #4990e2;

.modal-content {
  border: 2px solid $grey;
  border-radius: 0;
  font-style: italic;
  font-weight: 500;
  padding: 1em;
}

.modal-header {
  padding: 0;
}

.modal-title {
  font-family: 'Fira Sans Condensed';
  font-size: 23px;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  text-transform: uppercase;
}

.modal-body {
  border: 0;
  padding: 20px 0;
}

.modal-footer {
  border: 0;
  font-style: normal;
  font-weight: normal;
  padding-right: 0;
  text-align: center;
}

.modal-buttons-container {
  float: right;
}

.modal-button {
  background-color: $white;
  border: 1px solid $btn-idle-color;
  border-radius: 4px;
  color: $btn-idle-color;
  cursor: pointer;
  display: inline-block;
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-size: 18px;
  margin-bottom: .5em;
  padding: 8px 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $hover-button-bg-color;
    border: 1px solid $hover-button-bg-color;
    color: $white;
    text-decoration: none;
  }
}

.modal-discard {
  color: $brown;
  margin-right: 20px;

  &:hover {
    background-color: $brown;
    border: 1px solid $brown;
    color: $white;
  }
}
