//overwrite bootstrap variables
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$font-family-default: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-default;
$border-radius-base: 0 !default;
$brand-primary: #404040;// dark grey
$link-color: $brand-primary;

//custom variables
$pink: #E50C79;
$teal: #51C2BD;

$main-grey: #D8D8D8;
$dark-grey: #404040;
$light-grey: #CDCDCD;
