@import 'bootstrap';
@import 'fonts/Fira/fira';
@import 'fonts/Vollkorn/vollkorn'
@import 'reset';
@import 'variables';

html,
body {
  color: $black;
  font-family: 'Fira Sans';
  height: 100%;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
}


//
// scrolling

// use this on all components
.pubsweet-component {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 95px; //menu height
}

// use this when you want the component to scroll
// it will otherwise take up the remainder of the height
.pubsweet-component-scroll {
  overflow-y: auto;
  padding-bottom: 50px; // white space when component ends
}


//
// helpers

.separator {
  clear: both;
  height: 1px;
}
