$primary-color: #515253;

$black: #000;
$dark-grey: #fff;
$grey: #808080;
$maroon: #502424;
$medium-grey: #838587;
$blue: #0d78f2;
$main-grey: #666;

.bookList {
  .bookTitle {
    // border-bottom: .1em solid;
    // position: relative;
  }

  h1 {
    color: $blue;
    font-family: 'Vollkorn' !important;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    float: left;
    line-height: 36px;
    letter-spacing: 5px;
    margin: 0 !important;
    padding: 10px 50px 10px 10px;
    text-transform: uppercase;
  }

  h2 {
    color: $primary-color;
    cursor: pointer;
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 1px;
    padding-bottom: 0;
    -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
  }

  .addBookBtn {
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    margin-top: 11px;
    padding-right: 20px;

    a {
      font-family: 'Fira Sans Condensed';
      color: $black;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
    .addBookIcon {
      -webkit-mask: url('./images/icon_add.svg') no-repeat 100% 100%;
      mask: url('./images/icon_add.svg') no-repeat 100% 100%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $main-grey;
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 10px;
    }
  }

  .bookContainer {
    border-bottom: 1px solid $medium-grey;
    margin-top: 3em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-top: 0;
    position: relative;
  }

  .bookActions {
    bottom: 0;
    position: absolute;
    right: 13px;
  }

  .editBook {
    color: $medium-grey;
    display: inline-block;
    font-style: italic;
    font-weight: 500;
    margin-left: 13px;
    text-decoration: none;

    &:hover {
      color: $maroon;
      text-decoration: none;
    }

    &:link {
      color: $medium-grey;
      text-decoration: none;
    }
  }

  .booklist-empty {
    padding-top: 15px;
  }

  .add-book-input {
    width: 400px;

    &:placeholder-shown {
      font-size: 13px;
    }
  }
}
