
$black: #000;
$blue: #0d78f2;
$main-grey: #666;
$title-color: #333;
$white: #fff;
$dark-grey: #404040;

.bookList {
  h1 {
    color: $blue;
    font-family: 'Vollkorn' !important;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    float: left;
    line-height: 36px;
    letter-spacing: 5px;
    margin: 0 !important;
    padding: 10px 50px 10px 10px;
    text-transform: uppercase;
  }

  .addBookBtn {
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 16px;
    padding-right: 20px;

    a {
      font-family: 'Fira Sans Condensed';
      color: $main-grey;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .addBookIcon {
      -webkit-mask: url('./images/icon_add.svg') no-repeat 100% 100%;
      mask: url('./images/icon_add.svg') no-repeat 100% 100%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $main-grey;
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 10px;
    }
  }

  .bookContainer {
    display: flex;
    margin: 2% 0 0 4%;
    position: relative;

    .bookTitleBorder {
      background-image: linear-gradient(to right, $main-grey 50%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: 6px 1px;
      position: relative;
      width: 85%;
    }

    .bookTitleWidth {
      width: 99%;
    }

    h3 {
      background-color: $white;
      color: $dark-grey !important;
      cursor: pointer;
      display: inline;
      font-size: 28px;
      font-style: italic;
      font-family: 'Vollkorn';
      line-height: 36px;
      margin: 0;
      padding-bottom: 0;
      padding-right: 10px;
      position: relative;
      top: 11px;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    input {
      border: 0;
      border-bottom: 1px dashed $black;
      font-family: 'Vollkorn';
      font-style: italic;
      line-height: 36px;
      color: $title-color !important;
      font-size: 28px;
      outline: 0;
      width: 86.9%;
    }
  }

  .bookActions {
    background-color: $white;
    bottom: -7px;
      font-style: italic;
    // padding-left: 5px;
    position: absolute;
    right: 0;

    div:first-child {
      padding-left: 8px;
    }

    div:last-child {
      border-right: 0;
      padding-right: 0;
    }
  }

  .actionContainer {
    border-right: 1px solid $black;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
  }

  .editBook {
    color: $blue;
    font-family: 'Fira Sans Condensed';
    font-weight: normal;
    text-decoration: none;


    &:hover {
      border-bottom: 2px solid $blue;
      color: $blue;
      cursor: pointer;
      text-decoration: none;
    }
    &:focus {
      color: $blue;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .booklist-empty {
    padding-top: 15px;
  }

  .add-book-input {
    width: 400px;

    &:placeholder-shown {
      font-size: 13px;
    }
  }
}
