// Fira Sans

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
