// Fira Sans Condensed

@font-face {
  font-family: 'Fira Sans Condensed';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSansCondensed-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSansCondensed-Italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSansCondensed-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
