// Fira Sans

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Light.woff') format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-LightItalic.woff') format('woff');
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-MediumItalic.woff') format('woff');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('☺'),
       url('../fonts/Fira/woff/FiraSans-BoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}
