// Fira Sans Book

@font-face {
  font-family: 'Fira Sans Book';
  src: local('Fira Sans Book'),
       url('../fonts/Fira/woff/FiraSans-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
