// Fira Sans Book

@font-face {
  font-family: 'Fira Sans Book';
  src: url('../fonts/Fira/eot/FiraSans-Book.eot');
  src: local('Fira Sans Book'),
       url('../fonts/Fira/eot/FiraSans-Book.eot') format('embedded-opentype'),
       url('../fonts/Fira/woff/FiraSans-Book.woff') format('woff'),
       url('../fonts/Fira/ttf/FiraSans-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
