@import '../variables';

.auth-logo {
  display: block;
  filter: grayscale(100%);
  margin-bottom: 30px;
  margin-top: 30px;

  img {
    width: 100%;
	}
}

.login {
  border-left: 4px solid $dark-grey;
  border-right: 4px solid $main-grey;
  padding-left: 40px !important;
  padding-right: 40px !important;

  h1,
  legend {
    margin-left: -25px;
    padding-bottom: 20px;
	}

  button {
    margin-bottom: 20px !important;
	}
}
